<!DOCTYPE html>
<html>

<head>
  <title>Daan Snoeken</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <meta name="author" content="Daan Snoeken">

</head>
<body>
    <div class="starter-template">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h1>Hávamál</h1>
                </div>
            </div>
            <div class="row">
                <table id="havamal">
                    <tr class="havamalRow">
                        <th class="havamalHead">Stanza</th><th class="havamalHead">Oudnoords</th><th class="havamalHead">Nederlands</th>
                    </tr>
                    <tr class="havamalRow"><td class="havamalColumn"><b>1</b></td><td class="havamalColumn">Gáttir allar áðr gangi fram<br>
                        um skoðask skyli,<br>
                        um skyggnast skyli,<br>
                        því at óvíst er at vita hvar óvinir<br>
                        sitja á fleti fyrir.</td><td class="havamalColumn"></td></tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>