<!DOCTYPE html>
<html>

<head>
    <title>Daan Snoeken</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="author" content="Daan Snoeken">

</head>

<body>
    <div class="starter-template">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h1>Hávamál</h1>
                    <h2 style="color: red;">Work in progress</h2>
                    <p>Credit for the translation goes to Jackson Crawford, PhD. whose work I translated from English
                        into Dutch. For further reading, I highly recommend reading his translation of the Poetic Edda
                        and his other works. His YouTube channel can be found with <a
                            href="https://www.youtube.com/channel/UCXCxNFxw6iq-Mh4uIjYvufg">this link</a>, which is an
                        absolute gold mine of information on anything relating the Old Norse language and mythology.
                    </p>
                </div>
            </div>
            <div class="row">
                <h2>Secties</h2>
                <table class="havamalTables">
                    <tr class="havamalRow">
                        <th class="havamalHead">
                            Sectie
                        </th>
                        <th class="havamalHead">
                            Stanza's&nbsp;(&plusmn;)
                        </th>
                        <th class="havamalHead">
                            Beschrijving
                        </th>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Gestaþáttr</td>
                        <td class="havamalColumn">1-79</td>
                        <td class="havamalColumn">Bevat vooral praktische wijsheid over het leven in het algemeen.
                            Terugkomende thema's zijn vooral gematigdheid (voornamelijk met betrekking tot drinken, eten
                            en spreken), achterdocht en vriendschap. De lezer krijgt het advies om altijd kritisch
                            te blijven over zichzelf, anderen en zijn/haar omgeving.
                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Dǿmi&nbsp;Óðins</td>
                        <td class="havamalColumn">84-110</td>
                        <td class="havamalColumn">Odin's advies over liefde en relaties tussen mannen en vrouwen.</td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Loddfáfnismál</td>
                        <td class="havamalColumn">111-137</td>
                        <td class="havamalColumn">Odin spreekt hier met iemand genaamd Loddfáfnir en geeft hem advies.
                            Dit advies is vergelijkbaar met dat in Gestaþáttr. Deze sectie bevat ook waarschuwingen over
                            heksen en magie.
                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Rúnatal</td>
                        <td class="havamalColumn">138-145</td>
                        <td class="havamalColumn">Rúnatal betekent "telling van runen". Odin offert zichzelf aan
                            zichzelf door zich op te hangen aan de boom
                            Yggdrasil en zo de runen te leren. De runen vormen het oude Scandinavische alfabet.</td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Ljóðatal</td>
                        <td class="havamalColumn">146-164</td>
                        <td class="havamalColumn">Ljóðatal betekent "telling van spreuken" en beschrijft de spreuken
                            waar Odin toe in staat is. Er wordt echter niet beschreven hoe Odin dit doet.</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <h2>Inhoud met vertaling</h2>
                <table class="havamalTables">
                    <tr class="havamalRow">
                        <th class="havamalHead">Stanza</th>
                        <th class="havamalHead">Oudnoords</th>
                        <th class="havamalHead">Nederlands</th>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>1</b></td>
                        <td class="havamalColumn">Gáttir allar áðr gangi fram<br>
                            um skoðask skyli,<br>
                            um skyggnast skyli,<br>
                            því at óvíst er at vita hvar óvinir<br>
                            sitja á fleti fyrir.</td>
                        <td class="havamalColumn">Bij iedere ingang<br>
                            voordat u binnenkomt,<br>
                            kijk om u heen,<br>
                            kijk goed om u heen,<br>
                            want u weet nooit waar uw vijanden zitten.
                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>2</b></td>
                        <td class="havamalColumn">Gefendr heilir!<br>
                            Gestr er inn kominn,<br>
                            hvar skal sitja sjá? Mjǫk er bráðr<br>
                            sá er á brǫndum skal síns of freista frama.</td>
                        <td class="havamalColumn">Heil aan de gastheer!<br>
                            Een gast is binnen gekomen,<br>
                            waar moet deze zitten? Hij is heel gretig,<br>
                            staande op de deurpost, klaar om zijn geluk te wagen.
                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>3</b></td>
                        <td class="havamalColumn">Elds er þǫrf þeim's inn er kominn<br>
                            ok á kné kalinn.<br>
                            Matar ok váða er manni þǫrf,<br>
                            þeim er hefr um fjall farit.</td>
                        <td class="havamalColumn">
                            Vuur is nodig voor hij die is binnen gekomen<br>
                            zijn knieën rillen.<br>
                            Hij heeft voedsel en droge kleren nodig,<br>
                            na zijn reis over de bergen.
                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>4</b></td>
                        <td class="havamalColumn">Vatns er þǫrf þeim er til<br>
                            verðar kømr, þerru ok þjóðlaðar,<br>
                            góðs of ǿðis --<br>
                            ef sér geta mætti<br>
                            orðs ok endrþǫgu.</td>
                        <td class="havamalColumn">Water is nodig voor hij die naar<br>
                            de maaltijd komt, drogen en een warm welkom,<br>
                            van een vriendelijke gastheer --<br>
                            en als hij het kan krijgen,<br>
                            woord en stilte.
                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>5</b></td>
                        <td class="havamalColumn">Vits er þǫrf þeim er víða ratar;<br>
                            dælt er heima hvat;<br>
                            at augabragði verðr<br>
                            sá er ekki kann ok með snotrum sitr.<br></td>
                        <td class="havamalColumn">Wijsheid is nodig voor hij die reist;<br>
                            Thuis is alles makkelijk;<br>
                            Hij zal worden uitgelachen<br>
                            als hij niets weet en bij de wijzen zit.</td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>6</b></td>
                        <td class="havamalColumn">At hygg jandi sinni<br>
                            skyli-t maðr hrǿsinn vera,<br>
                            heldr gætinn at geði,<br>
                            þá er horskr ok þǫgull<br>
                            kømr heimisgarða til.<br>
                            Sjaldan verðr víti vǫrum,<br>
                            því at óbrigðra vin<br>
                            fær ψ aldregi<br>
                            en mannvit mikit.
                        </td>
                        <td class="havamalColumn">

                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>7</b></td>
                        <td class="havamalColumn"></td>
                        <td class="havamalColumn"></td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>8</b></td>
                        <td class="havamalColumn"></td>
                        <td class="havamalColumn"></td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>9</b></td>
                        <td class="havamalColumn"></td>
                        <td class="havamalColumn"></td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>10</b></td>
                        <td class="havamalColumn"></td>
                        <td class="havamalColumn"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>