<!DOCTYPE html>
<html>

<head>
    <title>Daan Snoeken</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="author" content="Daan Snoeken">

</head>

<body>
    <div class="starter-template">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h1>Hávamál</h1>
                    <div style="border: 2px solid red; margin-bottom: 10px; margin-top: 5px;">
                        <h2 style="color: red;">Work in progress</h2>
                        <p>{{ ((ON.length+NL.length)/2)*100/164 | number: '0.0-2' }}% finished</p> <!-- todo: remove -->
                        <div *ngIf="ON.length!==NL.length">
                            <p style="color: red;">Oudnoords en Nederlands niet dezelfde lengte!</p>
                            ON: {{ ON.length }}<br>
                            NL: {{ NL.length }}
                        </div>
                    </div>
                    <div class="credit">
                        <p>Credit for the translation goes to Jackson Crawford, PhD. Some of the Old Norse I've
                            been able to translate myself thanks to his videos teaching the language. For further
                            reading, I highly recommend reading his translation of the Poetic Edda and his other works.
                            His YouTube channel can be found with <a
                                href="https://www.youtube.com/channel/UCXCxNFxw6iq-Mh4uIjYvufg">this link</a>, which is
                            an
                            absolute gold mine of information on anything relating the Old Norse language and mythology.
                            Note that I also used some of his videos on Hávamál to come to the Dutch translations.
                            Especially the videos in <a
                                href="https://www.youtube.com/playlist?list=PLATNGYBQ-Tjp2rLtaIKzrMFcWGComaiVN">this</a>
                            playlist.
                        </p>
                    </div>
                    <p>
                        De originele middeleeuwse manuscripten kunnen gevonden worden op <a
                            href="https://www.handrit.is">Handrit</a>, waar Hávamál te vinden is onder
                        <a href="https://handrit.is/en/manuscript/view/is/GKS04-2365">GKS&nbsp;2365&nbsp;4to</a>. Het lezen en interpreteren van een middeleeuws manuscript 
                        is een vak opzich. Een korte uitleg over de werking ervan is <a
                            href="https://www.youtube.com/watch?v=N7KYyj8ed94">hier</a> te vinden.
                    </p>
                </div>
            </div>
            <div class="row">
                <h2>Secties</h2>
                <table class="havamalTables">
                    <tr class="havamalRow">
                        <th class="havamalHead">
                            Sectie
                        </th>
                        <th class="havamalHead">
                            Stanza's&nbsp;(&plusmn;)
                        </th>
                        <th class="havamalHead">
                            Beschrijving
                        </th>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Gestaþáttr</td>
                        <td class="havamalColumn">1-83</td>
                        <td class="havamalColumn">Bevat vooral praktische wijsheid over het leven in het algemeen.
                            Terugkomende thema's zijn vooral gematigdheid (voornamelijk met betrekking tot drinken, eten
                            en spreken), achterdocht en vriendschap. De lezer krijgt het advies om altijd kritisch
                            te blijven over zichzelf, anderen en zijn/haar omgeving.
                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Dǿmi&nbsp;Óðins</td>
                        <td class="havamalColumn">84-110</td>
                        <td class="havamalColumn">Odin's advies over liefde en relaties tussen mannen en vrouwen.</td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Loddfáfnismál</td>
                        <td class="havamalColumn">111-137</td>
                        <td class="havamalColumn">Odin spreekt hier met iemand genaamd Loddfáfnir en geeft hem advies.
                            Dit advies is vergelijkbaar met dat in Gestaþáttr. Deze sectie bevat ook waarschuwingen over
                            heksen en magie.
                        </td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Rúnatal</td>
                        <td class="havamalColumn">138-145</td>
                        <td class="havamalColumn">Rúnatal betekent "telling van runen". Odin offert zichzelf aan
                            zichzelf door zich op te hangen aan de boom
                            Yggdrasil en zo de runen te leren. De runen vormen het oude Scandinavische alfabet.</td>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn">Ljóðatal</td>
                        <td class="havamalColumn">146-164</td>
                        <td class="havamalColumn">Ljóðatal betekent "telling van spreuken" en beschrijft de spreuken
                            waar Odin toe in staat is. Er wordt echter niet beschreven hoe Odin dit doet.<br>
                            Persoonlijk denk ik vooral dat dit gedeelte vooral een beschrijving is van bepaalde
                            vaardigheden die je niet uit een boek kan leren. Dit zijn vaardigheden die je met praktische
                            ervaring meester moet worden.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <h2>Inhoud met vertaling</h2>
            </div>

            <div class="row">
                <label><input type="number" [(ngModel)]="searchStanza" min="1" max="164">&nbsp;Zoek een stanzanummer</label>
            </div>
            
            <div class="row" *ngIf="searchStanza > 0 && searchStanza <= 164">
                <table class="havamalTables">
                    <tr class="havamalRow">
                        <th class="havamalHead">Stanza</th>
                        <th class="havamalHead">Oudnoords</th>
                        <th class="havamalHead">Nederlands</th>
                    </tr>
                    <tr class="havamalRow">
                        <td class="havamalColumn"><b>{{ searchStanza }}</b></td>
                        <td class="havamalColumn">{{ ON[searchStanza - 1] }}</td>
                        <td class="havamalColumn">{{ NL[searchStanza - 1] }}</td>
                    </tr>
                </table>
            </div>
            <div class="row" *ngIf="searchStanza && (searchStanza <= 0 || searchStanza > 164)">
                De stanza met nummer {{ searchStanza }} bestaat niet!
            </div>

            <div class="row" *ngIf="!searchStanza && searchStanza !== 0">
                <table class="havamalTables">
                    <tr class="havamalRow">
                        <th class="havamalHead">Stanza</th>
                        <th class="havamalHead">Oudnoords</th>
                        <th class="havamalHead">Nederlands</th>
                    </tr>
                    <tr *ngFor="let o of ON; index as i;" class="havamalRow">
                        <td class="havamalColumn"><b>{{ i+1 }}</b></td>
                        <td class="havamalColumn">{{ o }}</td>
                        <td class="havamalColumn">{{ NL[i] }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</body>

</html>