<!DOCTYPE html>
<html>

<head>
  <title>Daan Snoeken</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <meta name="author" content="Daan Snoeken">

</head>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  body {
    padding-top: 5rem;
  }

  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .custom-select {
    position: relative;
    font-family: Arial;
    background-color: rgb(100, 100, 100);
    color: white;
    border-color: rgb(100, 100, 100);
  }

  .custom-select select {
    display: block;
  }

  .column {
    margin: auto;
    width: 33%;
    padding: 10px;
    text-align: justify;
    margin-top: 0px;
  }

  #hoofdDrive {
    text-align: center;
    padding: 20px;
  }

  #poem {
    text-align: justify;
  }

  .body-button {
    background-color: rgb(13, 150, 145);
    color: white;
    border-color: rgb(13, 150, 145);
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    transition: 0.3s;
  }

  .body-button:hover {
    background-color: white;
    color: rgb(13, 150, 145);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
</style>

<body>
  <div class="starter-template">
    <div class="container">
      <div class="row">
        <div class="column"></div>
        <div class="column" id="hoofdDrive">
          <h1>Drive</h1>
        </div>
        <div class="column"></div>
      </div>
      <div class="row">
        <div class="column">
          <h2>Waarom?</h2>
        </div>
        <div class="column">
          <h2>Hoe?</h2>
        </div>
        <div class="column">
          <h2>Wat?</h2>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <p class="lead">
            In alles wat ik doe, geloof ik dat ontwikkeling en vooruitgang centraal staat in mijn leven.<br>
            De balans tussen het opbouwen van sterke vaardigheden en het ombouwen van zwakke vaardigheden is iets waar
            ik voor leef.
          </p>
        </div>
        <div class="column">
          <p class="lead">
            Ontwikkeling en vooruitgang breng ik tot stand, door een sterke affiniteit voor mijn vak en mijn snelle
            leervermogen.
          </p>
        </div>
        <div class="column">
          <p class="lead">
            Met deze gedachte ga ik mijn toekomst vormgeven.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column" style="width: 100%;">
          <button mdbBtn color="primary" class="waves-light body-button" type="button"
            (click)="Jona.hide();HowDie.toggle();TwoRoads.hide();" mdbWavesEffect>
            How Did You Die?
          </button>&#160;
          <button mdbBtn color="primary" class="waves-light body-button" type="button"
            (click)="Jona.toggle();HowDie.hide();TwoRoads.hide();" mdbWavesEffect>
            Jona
          </button>&#160;
          <button mdbBtn color="primary" class="waves-light body-button" type="button"
            (click)="Jona.hide();HowDie.hide();TwoRoads.toggle();" mdbWavesEffect>
            The Road Not Taken
          </button>
        </div>
        <div class="" mdbCollapse #HowDie="bs-collapse">
          <div id="poem" class="row">
            <div class="column" style="width: 39%; padding:5px">
              <h2 id="TitelHowDieCooke">
                How Did You Die?
              </h2>
              <p id="HowDieCooke" class="lead">
                Did you tackle that trouble that came your way<br>
                With a resolute heart and cheerful?<br>
                Or hide your face from the light of day<br>
                With a craven soul and fearful?<br>
                <br>
                Oh, a trouble's a ton, or a trouble's an ounce,<br>
                Or a trouble is what you make it,<br>
                And it isn't the fact that you're hurt that counts,<br>
                But only how did you take it?<br>
                <br>
                You are beaten to earth? Well, well, what's that!<br>
                Come up with a smiling face.<br>
                It's nothing against you to fall down flat,<br>
                But to lie there-that's disgrace.<br>
                <br>
                The harder you're thrown, why the higher you bounce<br>
                Be proud of your blackened eye!<br>
                It isn't the fact that you're licked that counts;<br>
                It's how did you fight-and why?<br>
                <br>
                And though you be done to the death, what then?<br>
                If you battled the best you could,<br>
                If you played your part in the world of men,<br>
                Why, the Critic will call it good.<br>
                <br>
                Death comes with a crawl, or comes with a pounce,<br>
                And whether he's slow or spry,<br>
                It isn't the fact that you're dead that counts,<br>
                But only how did you die?<br>
                <br>
                - <b>Edmund Vance Cooke</b><br>
              </p>
            </div>
            <div class="column" style="align-content: left; padding: 5px;">
              <iframe width="600" height="370" src="https://www.youtube.com/embed/WgDCoH79kyo" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="" mdbCollapse #Jona="bs-collapse" style="text-align: justify;">
          <h2>Het Boek van Jona</h2>
          <button mdbBtn color="primary" class="waves-light body-button" type="button"
            (click)="JonaHoofdstuk1.toggle();JonaHoofdstuk2.hide();JonaHoofdstuk3.hide();JonaHoofdstuk4.hide();"
            mdbWavesEffect>
            1:1-17
          </button>&#160;
          <button mdbBtn color="primary" class="waves-light body-button" type="button"
            (click)="JonaHoofdstuk1.hide();JonaHoofdstuk2.toggle();JonaHoofdstuk3.hide();JonaHoofdstuk4.hide();"
            mdbWavesEffect>
            2:1-10
          </button>&#160;
          <button mdbBtn color="primary" class="waves-light body-button" type="button"
            (click)="JonaHoofdstuk1.hide();JonaHoofdstuk2.hide();JonaHoofdstuk3.toggle();JonaHoofdstuk4.hide();"
            mdbWavesEffect>
            3:1-10
          </button>&#160;
          <button mdbBtn color="primary" class="waves-light body-button" type="button"
            (click)="JonaHoofdstuk1.hide();JonaHoofdstuk2.hide();JonaHoofdstuk3.hide();JonaHoofdstuk4.toggle();"
            mdbWavesEffect>
            4:1-11
          </button>&#160;
          <div class="" mdbCollapse #JonaHoofdstuk1="bs-collapse">
            <h3>Hoofdstuk 1</h3>
            <p class="lead">
              1. En het woord des Heeren geschiedde tot Jona, den zoon van Amitthai, zeggende:<br>
              2. Maak u op, ga naar de grote stad Nineve, en predik tegen haar; want hunlieder boosheid is opgeklommen
              voor Mijn aangezicht.<br>
              3. Maar Jona maakte zich op om te vluchten naar Tarsis, van het aangezicht des Heeren; en hij kwam af te
              Jafo, en vond een schip, gaande naar Tarsis, en hij gaf de vracht daarvan, en ging neder in hetzelve, om
              met
              henlieden te gaan naar Tarsis, van het aangezicht des Heeren.<br>
              4. Maar de Heere wierp een groten wind op de zee; en er werd een grote storm in de zee, zodat het schip
              dacht te breken.<br>
              5. Toen vreesden de zeelieden, en riepen een iegelijk tot zijn god, en wierpen de vaten, die in het schip
              waren, in de zee, om het van dezelve te verlichten; maar Jona was nedergegaan aan de zijden van het schip,
              en lag neder, en was met een diepen slaap bevangen.<br>
              6. En de opperschipper naderde tot hem, en zeide tot hem: Wat is u, gij hardslapende? Sta op, roep tot uw
              God, misschien zal die God aan ons gedenken, dat wij niet vergaan.<br>
              7. Voorts zeiden zij, een ieder tot zijn metgezel: Komt, en laat ons loten werpen, opdat wij mogen weten,
              om
              wiens wil ons dit kwaad overkomt. Alzo wierpen zij loten, en het lot viel op Jona.<br>
              8. Toen zeiden zij tot hem: Verklaar ons nu, om wiens wil ons dit kwaad overkomt. Wat is uw werk en van
              waar
              komt gij? Welk is uw land en van welk volk zijt gij?<br>
              9. En hij zeide tot hen: Ik ben een Hebreer; en ik vreze den Heere, den God des hemels, Die de zee en het
              droge gemaakt heeft.<br>
              10. Toen vreesden die mannen met grote vreze, en zeiden tot hem: Wat hebt gij dit gedaan? Want de mannen
              wisten, dat hij van des Heeren aangezicht vlood; want hij had het hun te kennen gegeven.<br>
              11. Voorts zeiden zij tot hem: Wat zullen wij u doen, opdat de zee stil worde van ons? Want de zee werd
              hoe
              langer hoe onstuimiger.<br>
              12. En hij zeide tot hen: Neemt mij op, en werpt mij in de zee, zo zal de zee stil worden van ulieden;
              want
              ik weet, dat deze grote storm ulieden om mijnentwil over komt.<br>
              13. Maar de mannen roeiden, om het schip weder te brengen aan het droge, doch zij konden niet; want de zee
              werd hoe langer hoe onstuimiger tegen hen.<br>
              14. Toen riepen zij tot den Heere, en zeiden: Och Heere! laat ons toch niet vergaan om dezes mans ziel, en
              leg geen onschuldig bloed op ons; want Gij, Heere! hebt gedaan, gelijk als het U heeft behaagd.<br>
              15. En zij namen Jona op, en wierpen hem in de zee. Toen stond de zee stil van haar verbolgenheid.<br>
              16. Dies vreesden de mannen den Heere met grote vreze; en zij slachtten den Heere slachtoffer, en
              beloofden
              geloften.<br>
              17. De Heere nu beschikte een groten vis, om Jona in te slokken; en Jona was in het ingewand van den vis,
              drie dagen en drie nachten.<br>
            </p>
          </div>
          <div class="" mdbCollapse #JonaHoofdstuk2="bs-collapse">
            <h3>Hoofdstuk 2</h3>
            <p class="lead">
              1. En Jona bad tot den Heere, zijn God, uit het ingewand van den vis. <br>
              2. En hij zeide: Ik riep uit mijn benauwdheid tot den Heere, en Hij antwoordde mij; uit den buik des grafs
              schreide ik, en Gij hoordet mijn stem.<br>
              3. Want Gij hadt mij geworpen in de diepte, in het hart der zeeen, en de stroom omving mij; al Uw baren en
              Uw golven gingen over mij henen.<br>
              4. En ik zeide: Ik ben uitgestoten van voor Uw ogen; nochtans zal ik den tempel Uwer heiligheid weder
              aanschouwen.<br>
              5. De wateren hadden mij omgeven tot de ziel toe, de afgrond omving mij; het wier was aan mijn hoofd
              gebonden.<br>
              6. Ik was nedergedaald tot de gronden der bergen; de grendelen der aarde waren om mij henen in eeuwigheid;
              maar Gij hebt mijn leven uit het verderf opgevoerd, o Heere, mijn God!<br>
              7. Als mijn ziel in mij overstelpt was, dacht ik aan den Heere, en mijn gebed kwam tot U, in den tempel
              Uwer heiligheid.<br>
              8. Die de valse ijdelheden onderhouden, verlaten hunlieder weldadigheid.<br>
              9. Maar ik zal U offeren met de stem der dankzegging; wat ik beloofd heb, zal ik betalen. Het heil is des
              Heeren.<br>
              10. De Heere nu sprak tot den vis; en hij spuwde Jona uit op het droge.<br>
            </p>
          </div>
          <div class="" mdbCollapse #JonaHoofdstuk3="bs-collapse">
            <h3>Hoofdstuk 3</h3>
            <p class="lead">
              1. En het woord des Heeren geschiedde ten anderen male tot Jona, zeggende:<br>
              2. Maak u op, ga naar de grote stad Nineve; en predik tegen haar de prediking, die Ik tot u spreek.<br>
              3. Toen maakte zich Jona op, en ging naar Nineve, naar het woord des Heeren. Nineve nu was een grote stad
              Gods, van drie dagreizen.<br>
              4. En Jona begon in de stad te gaan, een dagreis; en hij predikte, en zeide: Nog veertig dagen, dan zal
              Nineve worden omgekeerd.<br>
              5. En de lieden van Nineve geloofden aan God; en zij riepen een vasten uit, en bekleedden zich met zakken,
              van hun grootste af tot hun kleinste toe.<br>
              6. Want dit woord geraakte tot den koning van Nineve, en hij stond op van zijn troon, en deed zijn
              heerlijk overkleed van zich; en hij bedekte zich met een zak, en zat neder in de as.<br>
              7. En hij liet uitroepen, en men sprak te Nineve, uit bevel des konings en zijner groten, zeggende: Laat
              mens noch beest, rund noch schaap, iets smaken, laat ze niet weiden, noch water drinken.<br>
              8. Maar mens en beest zullen met zakken bedekt zijn, en zullen sterk tot God roepen; en zij zullen zich
              bekeren, een iegelijk van zijn bozen weg, en van het geweld, dat in hun handen is.<br>
              9. Wie weet, God mocht Zich wenden, en berouw hebben; en Hij mocht Zich wenden van de hittigheid Zijns
              toorns, dat wij niet vergingen!<br>
              10. En God zag hun werken, dat zij zich bekeerden van hun bozen weg; en het berouwde God over het kwaad,
              dat Hij gesproken had hun te zullen doen, en Hij deed het niet.<br>
            </p>
          </div>
          <div class="" mdbCollapse #JonaHoofdstuk4="bs-collapse">
            <h3>Hoofdstuk 4</h3>
            <p class="lead">
              1. Dit verdroot Jona met groot verdriet, en zijn toorn ontstak.<br>
              2. En hij bad tot den Heere, en zeide: Och Heere! was dit mijn woord niet, als ik nog in mijn land was?
              Daarom kwam ik het voor, vluchtende naar Tarsis; want ik wist, dat Gij een genadig en barmhartig God zijt,
              lankmoedig en groot van goedertierenheid, en berouw hebbende over het kwaad.<br>
              3. Nu dan, Heere! neem toch mijn ziel van mij; want het is mij beter te sterven dan te leven.<br>
              4. En de Heere zeide: Is uw toorn billijk ontstoken?<br>
              5. Jona nu ging ter stad uit, en zette zich tegen het oosten der stad; en hij maakte zich aldaar een
              verdek, en zat daaronder in de schaduw, totdat hij zag, wat van de stad zou worden.<br>
              6. En God, de Heere, beschikte een wonderboom, en deed hem opschieten boven Jona, opdat er schaduw mocht
              zijn over zijn hoofd, om hem te redden van zijn verdriet. En Jona verblijdde zich over den wonderboom met
              grote blijdschap.<br>
              7. Maar God beschikte een worm des anderen daags in het opgaan van den dageraad; die stak den wonderboom,
              dat hij verdorde.<br>
              8. En het geschiedde, als de zon oprees, dat God een stillen oostenwind beschikte; en de zon stak op het
              hoofd van Jona, dat hij amechtig werd; en hij wenste zijner ziel te mogen sterven, en zeide: Het is mij
              beter te sterven dan te leven.<br>
              9. Toen zeide God tot Jona: Is uw toorn billijk ontstoken over den wonderboom? En hij zeide: Billijk is
              mijn toorn ontstoken ter dood toe.<br>
              10. En de Heere zeide: Gij verschoont den wonderboom, aan welken gij niet hebt gearbeid, noch dien groot
              gemaakt; die in een nacht werd, en in een nacht verging;<br>
              11. En Ik zou die grote stad Nineve niet verschonen? waarin veel meer dan honderd en twintig duizend
              mensen zijn, die geen onderscheid weten tussen hun rechterhand, en hun linkerhand; daartoe veel vee?<br>
            </p>
          </div>
        </div>
        <div class="" mdbCollapse #TwoRoads="bs-collapse">
          <div id="poem2" class="row">
            <div class="column" style="width: 39%; padding:5px">
              <h2>The Road Not Taken</h2>
              <p class="lead">
                Two roads diverged in a yellow wood,<br>
                And sorry I could not travel both<br>
                And be one traveler, long I stood<br>
                And looked down one as far as I could<br>
                To where it bent in the undergrowth;<br>
                <br>
                Then took the other, as just as fair,<br>
                And having perhaps the better claim,<br>
                Because it was grassy and wanted wear;<br>
                Though as for that the passing there<br>
                Had worn them really about the same,<br>
                <br>
                And both that morning equally lay<br>
                In leaves no step had trodden black.<br>
                Oh, I kept the first for another day!<br>
                Yet knowing how way leads on to way,<br>
                I doubted if I should ever come back.<br>
                <br>
                I shall be telling this with a sigh<br>
                Somewhere ages and ages hence:<br>
                Two roads diverged in a wood, and I—<br>
                I took the one less traveled by,<br>
                And that has made all the difference<br>
                <br>
                - <b>Robert Frost</b><br>
              </p>
            </div>
            <div class="column" style="align-content: left; padding: 5px;">
              <iframe width="600" height="370" src="https://www.youtube.com/embed/vrBHd41YqTc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="../assets/dist/js/bootstrap.bundle.js"></script>
</body>

</html>